footer {
    width: 100%;
    position: fixed;
    bottom: 0;

    .text-wrap {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 120px;
        padding: 0 50px;

        .ft-text {
            font-size: 13px;
            color: #797979;
            margin-top: 30px;

            span {
                color: #4f4d4d;
            }
        }
    }
}