main {
    width: 100%;

    .home-area {
        display: flex;
        width: 100%;
        min-height: 100vh;
        background: linear-gradient(-45deg, #1c3a64, #000);

        .home-content-wrap {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;

            > div {
                text-align: center;
            }

            .home-img-wrap {
                margin-bottom: 51px;

                img {
                    width: 90px;
                    height: 90px;
                }
            }

            .home-text-wrap {
                color: #fff;
                margin-bottom: 30px;

                .home-text-title-wrap {
                    font-size: 50px;
                    margin-bottom: 18px;

                    .first-text {
                        font-weight: 500;
                        color: #00cbf7;
                    }

                    .second-text {
                        font-weight: 300;
                    }

                    .third-text {
                        font-weight: 100;
                    }
                }
                
            }

            .home-text {
                line-height: 1.7;
                
                p {
                    font-size: 17px;
                }

                span {
                    font-size: 19px;
                    font-weight: 400;
                }
            }

            .home-btn-wrap {

                button {
                    padding: 16.5px 26.5px;
                    color: #fff;
                    border: 1px solid #fff;
                    font-size: 17px;
                }
            }
        }
    }
}