.wrap {
    max-width: 360px;
    padding: 40px 15px;
    margin: 0 auto;

    .dim {
        display: flex;
        align-items: center;
        width: 360px;
        height: 100%;
        position: fixed;
        top: 0;
        background: #fff;
        
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
        }

        .loading-container { margin: 40px auto }

        .loading {
            border: 2px solid transparent;
            border-color: transparent #000 transparent #000;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }
        
        .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {
            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #000;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        }
    }

    .logo {
        text-align: center;
        margin-bottom: 40px;
        img {
            width: 160px;
        }
    }

    .result-mbti-content {
        margin-bottom: 30px;

        .title-wrap {
            line-height: normal;
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-bottom: 15px;

            .result-sub-title {
                margin-bottom: 15px;
            }

            h2 {
                font-size: 30px;
            }
        }

        .img-wrap {
            margin-bottom: 15px;
            img {
                display: block;
                height: 280px;
            }
        }

        .text-wrap {
            text-align: center;
            line-height: normal;

            .result-mbti {
                width: fit-content;
                margin: 0 auto 15px;
                background: #000;
                padding: 5px 20px;
                border-radius: 30px;

                .my-mbti {
                    font-size: 30px;
                    font-weight: bold;
                    color: #fff;
                }
            }

            .percent-text-wrap {
                font-size: 20px;
                font-weight: bold;
                margin-bottom: 15px;

                span {
                    font-size: 30px;
                }
            }
        }
    }

    .result-good-bad-content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
        div {
            width: 49%;
            font-size: 14px;
            text-align: center;
            padding: 20px 10px;
            border: 1px solid #ccc;
            border-radius: 15px;

            .title-text {
                color: #666;
                text-align: center;
                font-weight: bold;
                margin-bottom: 15px;
            }

            img {
                display: block;
                height: 80px;
            }

            .result-good-mbti-text, .result-bad-mbti-text {
                display: inline-block;
                font-weight: bold;
                font-size: 16px;
                color: #fff;
                padding: 5px 12px;
                border-radius: 20px;
                background: #000;
                margin-bottom: 15px;
            }

            .result-good-text, .result-bad-text {
                letter-spacing: -1px;
            }
        }
    }

    .btn-wrap {
        margin-bottom: 30px;

        .re-test-btn {
            display: block;
            line-height: 48px;
            text-align: center;
            font-weight: bold;
            font-size :14px;
            border-radius: 10px;
            background: #eeeeee;
        }
    }

    .result-link-wrap {
        h2 {
            display: inline-block;
            font-weight: bold;
            font-size: 16px;
            padding: 5px 0;
            margin-bottom: 20px;
            border-bottom: 1px solid #000;
        }

        .sns-link-btn-warp {
            display: flex;

            a {
                display: block;
                width: 38px;
                margin-right: 10px;

                img {
                    width: 100%;
                }
            }
        }
    }
}